# write_list_to_csv

In [21]:
# if append_check=1 -> append, or just override
def write_list_to_csv(colname_list, row_list, filename, append_check):
    import csv
    
    ## check append_check parameter
    if(append_check): append_check = 'a'
    else: append_check = 'w'
    
    ## open file
    with open(filename+'.csv', append_check, newline='') as file: 
        
        writer = csv.writer(file) 

        ## column names
        writer.writerow(colname_list)

        ## rows
        writer.writerows(row_list)

# example

In [34]:
row_list = [[5,'abc',3],[5,'werew',4],[5,'qew',2]]
colname_list = ['a','b','test','d']

In [35]:
write_list_to_csv(colname_list, row_list, 'test', 0)

In [38]:
import pandas
 
# read csv file
df = pandas.read_csv('test.csv', header=0)
df = df.fillna(0) # change NaN value into '0'

In [39]:
df

   a      b  test    d
0  5    abc     3  0.0
1  5  werew     4  0.0
2  5    qew     2  0.0